* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Header Section */
.header {
    background: #4a4adf;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 1px;
}

/* Body Container */
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 30px;
    background: #f4f4f4;
    height: 80vh;
}

/* Boxes */
.box {
    background: white;
    padding: 30px 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}

.box:hover {
    transform: translateY(-6px);
    box-shadow: 0 8px 18px rgba(0,0,0,0.2);
}
footer{
    text-align: center;
}